<div class="container">
  <header class = "navbar">
    <h1>Epicoduslist</h1>
    <ul>
      <li>{{#link-to 'index'}}Housing{{/link-to}}</li>
      <li>{{#link-to 'personal'}}Personals{{/link-to}}</li>
    </ul>
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
